<footer class="footer-dark mt-auto">
        <div class="container text-center text-md-start">
          <div class="row">
            <div class="col-md-4 mb-3">
              <h5 class="mb-3">Barbershop The Gilded Razor</h5>
              <p>г. Красноясрк, ул. Перенсона 2</p>
              <p>Ежедневно 10:00-22:00</p>
            </div>
            <div class="col-md-4 mb-3">
              <h5 class="mb-3">Контакты</h5>
              <p><i class="bi bi-telephone"></i> +7 900 000-00-00</p>
              <p><i class="bi bi-envelope"></i>Barbershop_The_Gilded_Razor@yandex.ru</p>
            </div>
            <div class="col-md-4 mb-3">
              <h5 class="mb-3">Мы в соцсетях</h5>
              <div class="social-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="text-center">
            <span>© 2025 Barbershop The Gilded Razor</span>
          </div>
        </div>
      </footer>