<footer class="footer bg-dark text-white text-center">
    <div class="container p-4">
        <h5>Barbershop</h5>
        <p>
            Ваш идеальный барбершоп. Мы предлагаем лучшие услуги по стрижке и уходу за волосами.
        </p>
        <h5>Контакты</h5>
        <ul class="list-unstyled">
            <li>
                <a href="#" class="text-white">Телефон: +7 (123) 456-78-90</a>
            </li>
            <li>
                <a href="#" class="text-white">Email: info@barbershop.com</a>
            </li>
        </ul>
    </div>
    <div class="text-center p-3">
    © <span id="current-year"></span> Barbershop. Все права защищены.
    </div>
</footer>