{% extends 'base.html' %}
{% load static %}
{% block title %}The Gilded Razor - Главная{% endblock %}
{% block content %}
<main class="container mt-3 flex-grow-1">
    <section id="about" class="landing-section">
        <h1>Добро пожаловать в The Gilded Razor</h1>
        <b>О нас:</b>
        <p>The Gilded Razor — это ваш идеальный барбершоп, где стиль встречается с мастерством. Мы предлагаем широкий спектр услуг, от классических стрижек до современных укладок, чтобы подчеркнуть вашу индивидуальность. Наша команда опытных мастеров использует только лучшие техники и качественные продукты, чтобы гарантировать вам безупречный результат.</p>
        <p>В уютной атмосфере нашего салона вы сможете расслабиться и насладиться процессом ухода за собой. Мы стремимся создать уникальный опыт для каждого клиента, где внимание к деталям и персонализированный подход — это наша визитная карточка.</p>
        <p>Приходите в The Gilded Razor и откройте для себя мир стиля и комфорта, где каждая стрижка — это искусство, а каждый клиент — наш друг.</p>
    </section>

    <section id="masters" class="landing-section">
    <h2>Наши мастера</h2>
    <div class="row">
        {% for master in masters %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    {% if master.photo %}
                        <img src="{{ master.photo.url }}" class="card-img-top" alt="{{ master.photo  }}">
                    {% else %}
                        <img src="" class="card-img-top" alt="Фотография отсутствует">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ master.name }}</h5>
                        <p class="card-text">Опыт: {{ master.experience }} лет</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

    <section id="reviews" class="landing-section">
        <h2>Отзывы наших клиентов</h2>
        <div class="row">
            {% for review in reviews %}
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.client_name }}</h5>
                            <p class="card-text">{{ review.text }}</p>
                            <p class="card-text">Оценка: {{ review.rating }}/5</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}