{% extends 'base.html' %}
{% load static %}

{% block title %}The Gilded Razor - Детали заказа №{{ order.id }}{% endblock %}

{% block content %}
    <div class="container order-detail-container">
        <div class="order-details-card">
            <div class="order-header">
                <h4 class="text-white">Детали заказа №{{ order.id }}</h4>
            </div>
            <div class="order-body">
                <div class="order-info">
                    <div class="info-item">
                        <span class="info-label">Имя клиента:</span>
                        <span class="info-value">{{ order.client_name }}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Мастер:</span>
                        <span class="info-value">{{ order.master.name }}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Дата создания:</span>
                        <span class="info-value">{{ order.date_created }}</span>  
                    </div>
                    <div class="info-item">
                        <span class="info-label">Дата записи:</span>
                        <span class="info-value">{{ order.appointment_date }}</span>  
                    </div>
                    <div class="info-item">
                        <span class="info-label">Номер телефона:</span>
                        <span class="info-value">{{ order.phone }}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Комментарий:</span>
                        <span class="info-value">{{ order.comment }}</span> 
                    </div>
                    <div class="info-item">
                        <span class="info-label">Услуги:</span>
                        <ul class="services-list">
                            {% for service in services %}
                                <li>{{ service.name }} - {{ service.price }} руб</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% comment %} вывод суммы за услуги {% endcomment %}
                    <div class="info-item">
                        <span class="info-label">Итоговая сумма:</span>
                        <span class="info-value">{{ order.total_price|floatformat:2 }} руб.</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Статус заявки:</span>
                        <span class="order-status {{ order.status|slugify }}">
                            {{ order.get_status_display }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
