{% extends "base.html" %}
{% load static %}

{% block title %}The Gilded Razor - Список заказов{% endblock title %}

{% block content %}
    <div class="container order-list">
        <h1>Список заявок</h1>

        {% if not orders %}
            <p class="no-orders">Нет активных заявок.</p>
        {% else %}
            <div class="order-grid">
                {% for order in orders %}
                    {% include "includes/include_order_card.html" %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}