{% extends 'base.html' %}
{% load static %}

{% block title %}The Gilded Razor - Детали заказа №{{ order.id }}{% endblock %}

{% block content %}
    <div class="container order-detail-container">
        <div class="order-details-card">
            <div class="order-header">
                <h4 class="text-white">Детали заказа №{{ order.id }}</h4>
            </div>
            <div class="order-body">
                <div class="order-info">
                    <div class="info-item">
                        <span class="info-label">Имя клиента:</span>
                        <span class="info-value">{{ order.client_name }}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Мастер:</span>
                        <span class="info-value">{{ master_name }}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Дата записи:</span>
                        <span class="info-value">{{ order.date_created }}</span> 

                    </div>
                    <div class="info-item">
                        <span class="info-label">Услуги:</span>
                        <ul class="services-list">
                            {% for service in related_services %}
                                <li>{{ service.name }}</li> 
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Статус заявки:</span>
                        <span class="order-status {{ order.status|slugify }}">
                            {{ order.get_status_display }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}