{% extends 'base.html' %}
{% load static %}

{% block title %}The Gilded Razor - Детали заказа №{{ order.id }}{% endblock %}

{% block content %}
    <div class="container mt-4"> 
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Детали заказа №{{ order.id }}</h1>
            </div>
            <div class="card-body">
                <div class="detail-info">
                    <p class="mb-2"><b>Имя клиента:</b> {{ order.client_name }}</p>
                    <p class="mb-2"><b>Мастер:</b> {{ order.master_name }}</p>
                    <p class="mb-2"><b>Дата:</b> {{ order.date }}</p>
                    <p class="mb-2"><b>Услуги:</b></p>
                    <ul class="list-group services-list mb-3"> 
                        {% for service in order.services %}
                            <li class="list-group-item">{{ service }}</li>
                        {% endfor %}
                    </ul>

                    <p class="status badge rounded-pill 
                        {% if order.status == 'новая' %}
                                bg-warning text-dark
                        {% elif order.status == 'подтвержденная' %}
                                bg-success
                        {% elif order.status == 'отмененная' %}
                                bg-danger
                        {% elif order.status == 'выполненная' %}
                                bg-secondary
                        {% endif %}">
                        Статус: {{ order.status }}
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}